<h1>MEETING CREATED SUCCESFULLY！</h1>
<p>Your meeting name is Created</p>
<p>name: <%= @meeting.name %></p>
<p>Your meeting name is Created</p>
<p>content: <%= @meeting.description %></p>
<p>Your meeting Date is created</p>
<p>date: <%= @meeting.date_posted %></p>