<h3>Your meeting name is complete！</h1>
<p>name: <%= @meeting.name %></p>
<h4>Your meeting name is complete</h4>
<p>content: <%= @meeting.description %></p>
<h5>Your meeting name is complete！</h5>
<p>date: <%= @meeting.date_posted %></p>